body{
	margin: auto;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgb(230, 230, 230);
}

nav{
	display: flex;
	flex-direction: row;
}

header h2{
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	font-family: sans-serif;
}

header div{
	vertical-align: middle;
	transition: 0.1s;
}

header div:hover{
	background-color: rgb(200,200,200);
}

header h4{
	padding-left: 10px;
	padding-right: 10px;
}

nav a{
	text-decoration: none;
	color: black;
}

header + div{
	padding: 10px;
}

.done{
	text-decoration: line-through;
}

.taskTitle{
	font-weight: bold;
	font-family: sans-serif;
}
