body{
	margin: auto;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgb(230, 230, 230);
}

nav{
	display: flex;
	flex-direction: row;
}

.navlink{
	vertical-align: middle;
	margin: 10px,5px,10px,5px;
}
